@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141314;
}

#Home {
  background-image: url("./assets/banner-bg.png");
}

#About {
  background-image: url("./assets/color-sharp.png");
  background-size: cover;
  background-color: #141314;
}
#Work {
  background-image: url("./assets/color-sharp.png");
  background-color: #141314;
  background-size: cover;
  height: fit-content;
}
#Contact {
  background-image: url("./assets/color-sharp.png");
  background-size: cover;
  background-color: #141314;
}

/* <main-style> ============================ */
.menu__button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  min-width: 62px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #fff;
  background-color: transparent;
  position: relative;
}

.menu__button::before {
  content: "";
  width: 100%;
  height: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.menu__button:hover::before {
  height: 100%;
  top: 0;
}

.menu__button span {
  color: #fff;
  line-height: 1;
  transition: color 0.4s;
}

.menu__button:hover span {
  color: #0d0d0d;
}

/* navbar button ends */

/* welcome to my portfolio button */
.welcome {
  background: transparent;
  color: #fff;

  text-transform: uppercase;

  border: none;
  padding: 20px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.welcome::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
    320deg,
    rgba(0, 140, 255, 0.678),
    rgba(128, 0, 128, 0.308)
  );
  z-index: 1;
  transition: background 3s;
}

.welcome:hover::before {
  animation: rotate 1s;
  transition: all 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
/* welcome to my portfolio button ends*/

.typing-demo {
  width: 17ch;
  animation: typing 2s steps(23), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* skills cards */
.card {
  position: relative;
  width: 250px;
  height: 274px;
  background: rgba(255, 0, 179, 0.525);
  background: linear-gradient(
    137deg,
    rgba(255, 0, 179, 0.34) 0%,
    rgba(0, 213, 255, 0) 100%
  );
  transition: 0.3s ease;
  border-radius: 30px;
  overflow: hidden; /* Add this line to hide overflowing content */
}

.card::after {
  content: "";
  background-color: #181818;
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.card div {
  position: relative;
  z-index: 2; /* Add this line to place the h1 elements above the overlay */
  color: white; /* Set the text color to white */
  text-align: center; /* Center the text horizontally */
  /* margin-top: 10%; Adjust the vertical position of the text */
  /* transform: translateY(-50%); Center the text vertically */
  font-weight: 600;
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 198, 0.388));
}

/********************************************** project card ******************************/

.project-card {
  position: relative;
  background-color: rgb(16 16 16);
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: 1.5rem;
  padding: 1.2rem;
}

.project-card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, mediumslateblue, transparent);
  box-shadow: 0 0 30px mediumslateblue;
  opacity: 0;
}

.project-card:after {
  top: 65%;
  opacity: 0;
}

.project-card:hover:after {
  top: 25%;
  opacity: 1;
}

/***************************** github icon in projects ********************************/
.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.svgIcon {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: 0.4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: 0.3s;
}
/******************************************* contact *********************************/

.profile-card {
  width: 17em;
  height: 22.5em;
  background: rgb(16 16 16);
  transition: 1s ease-in-out;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

.profile-card .info {
  font-weight: 600;
  color: white;
  display: block;
  text-align: center;
  font-size: 1em;
  margin: 1em;
}

.profile-card .img {
  width: 7em;
  height: 6em;
  margin: auto;
}


.linkcard {
  display: flex;
  height: 70px;
  width: 350px;
}

.linkcard svg {
  position: absolute;
  display: flex;
  width: 50%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.linkcard .social-link1,
.linkcard .social-link2,
.linkcard .social-link3,
.linkcard .social-link4,
.linkcard .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.linkcard svg {
  transform: scale(1);
}

.linkcard .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.linkcard .social-link2:hover {
  background-color: #242c34;
  animation: bounce_613 0.4s linear;
}

.linkcard .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.linkcard .social-link4:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.linkcard .social-link5:hover {
  background-color: #ff8000;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
